<footer class="text-color_text p-8" style="background-image: url('assets/background_image.jpg'); background-size: cover;">
    <div class="flex justify-center items-center mb-2">
        <a href="https://twitter.com/meica05" target="_BLANK">
            <img src="assets/redes/X.svg" alt="X Icon" class="mx-2">
        </a>
        <a href="https://www.youtube.com/@meica05" target="_BLANK">
            <img src="assets/redes/youtube.svg" alt="YouTube Icon" class="mx-2">
        </a>
        <a href="https://www.twitch.tv/meica05" target="_BLANK">
            <img src="assets/redes/twitch.svg" alt="Twitch Icon" class="mx-2" />
          </a>
    </div>
    <p class="text-center text-2xl text-color_text_secund">Sigue a Meica en todas sus redes</p>
    <p class="text-center mt-2">Creditos de imagenes usadas:  <a href="https://es.vecteezy.com/vectores-gratis/fondo-blanco">Fondo Blanco Vectores por Vecteezy</a></p>
    <p class="text-center mt-2">Fanpage realizada por Kael The Invoker</p>
</footer>