<div class="text-center mt-8 bg-repeat bg-center h-auto">
  <h1 class="font-semibold pt-[45px] pb-4 text-4xl text-color_text_secund">
    Lore
  </h1>
  <div class="grid md:grid-cols-2 gap-4">
    <div class="md:col-span-2">
      <div class="mt-2">
        <div class="p-6 m-4 border border-color_text rounded text-xl">
          <h2 class="font-semibold text-color_text_secund mb-3">Meica, La Planta Aventurera</h2>
          <p>
            Meica es una planta arquera la cual vivia enjaulada en una prisi칩n de ubicaci칩n desconocida, despues
            de ser liberada se fue a los m치s profundo del bosque a vivir su vida en paz y explorando el mundo junto
            a su contraparte "05", la cual siempre la acompa침a en su travecia de conocer diferentes culturas y personas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
