<div class="p-8 mx-auto overflow-hidden text-2xl">
  <div class="text-center mt-8 text-4xl mb-[50px]"></div>

  <div class="text-center mt-4">
    <div
      class="mb-8border rounded border-color_text p-8"
      style="background-image: url('assets/fondo_plantas.jpg'); background-size: cover;"
    >
      <h1 class="text-4xl font-bold text-color_text_secund">Perfil</h1>
      <div>
        <img
          src="assets/meica_face.jpg"
          alt="Foto de perfil"
          class="rounded-full mx-auto m-6"
        />
        <h2 class="font-semibold text-4xl text-color_text_secund">Meica05</h2>
      </div>

      <div>
        <p class="text-gray-600 mt-2 font-bold">
          Meica05 es una Vtuber perteneciente a la generaci칩n "Eternals" de
          IdolES. 
        </p>
        <p class="text-gray-600 mt-2 font-bold">
          Es una arquera que vive en lo m치s profundo del bosque. Despu칠s 
          de ser liberada de su prisi칩n, ella y su compa침era de vida, 05,
          disfrutan de la belleza del mundo y se embarcan en nuevas aventuras.
          Siempre llena de emoci칩n y curiosidad, habla a toda velocidad. Juntas,
          superaran las dificultades y explorar치n el mundo.
        </p>
      </div>
    </div>

    <div class="grid md:grid-cols-2 gap-6">
      <!-- TABLA DE INFORMACION GENERAL -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Informaci칩n General
        </p>
        <table class="w-full text-2xl text-left rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Debut (Ethernals)
              </th>
              <td class="px-6 py-4"> 03/05/2024 </td>
            </tr>
            <tr class="border-b mt-4">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Oshi Mark
              </th>
              <td class="px-6 py-4"> 游꺔 </td>
            </tr>
            <tr class="border-b mt-4">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Nombre de Fandom
              </th>
              <td class="px-6 py-4"> Brotecitos </td>
            </tr>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Cumplea침os
              </th>
              <td class="px-6 py-4"> 7 de Mayo </td>
            </tr>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Edad
              </th>
              <td class="px-6 py-4"> 20 A침os </td>
            </tr>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Profesi칩n 
              </th>
              <td class="px-6 py-4"> Arquera/Aventurera </td>
            </tr>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Altura
              </th>
              <td class="px-6 py-4"> 160 cm </td>
            </tr>
            <tr class="border-b">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Idiomas
              </th>
              <td class="px-6 py-4"> Espa침ol, Japones y Meica침ol </td>
            </tr>
            <tr>
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Mam치
              </th>
              <td class="px-6 py-4"> @kisaragi_h29 </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE HASHTAGS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4"># HASHTAGS</p>
        <table class="w-full text-2xl text-left rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                General
              </th>
              <td class="px-6 py-4"> #Meica05 </td>
            </tr>
            <tr class="border-b mt-4">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Live (Clips)
              </th>
              <td class="px-6 py-4"> #MeicaLive05 </td>
            </tr>
            <tr class="border-b mt-4">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                FanArt
              </th>
              <td class="px-6 py-4"> #Meica_art </td>
            </tr>
            <tr class="border-b mt-4">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                NSFW
              </th>
              <td class="px-6 py-4"> #MeiCaliente05 </td>
            </tr>
            <tr class="border-b mt-4">
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                Memes
              </th>
              <td class="px-6 py-4"> #Memeica </td>
            </tr>
            <tr>
              <th
                scope="row"
                class="px-6 py-4 font-bold text-color_text_secund"
              >
                NSFW
              </th>
              <td class="px-6 py-4"> #Meicaliente </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE GUSTOS Y DISGUSTOS -->
      <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Gustos y Disgustos
        </p>
        <table class="w-full text-2xl text-left rtl:text-right">
          <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
              <th scope="col" class="px-6 py-3 text-color_text_secund">
                Gustos
              </th>
              <th scope="col" class="px-6 py-3 text-color_text_secund">
                Disgustos
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Cereal
              </th>
              <td class="px-6 py-4"> Preposiciones </td>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Onigiri
              </th>
              <td class="px-6 py-4"> Conjugaciones de verbos </td>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Misoshiru (sopa)
              </th>
              <td class="px-6 py-4"> kanjis </td>
            </tr>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Cantar
              </th>
              <td class="px-6 py-4"> Matem치ticas </td>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Videojuegos
              </th>
              <td class="px-6 py-4"> Leer Texto </td>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Charlar
              </th>
              <td class="px-6 py-4"> Unicornios </td>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Tik Tok
              </th>
              <td class="px-6 py-4"> Caballeros Blancos </td>
            </tr>
            <tr>
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Aestetic Warning
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- TABLA DE JUEGOS FAVORITOS -->
      <!-- <div class="relative overflow-x-auto mt-8">
        <p class="font-semibold text-color_text_secund mb-4">
          Videojuegos Favoritos
        </p>
        <table class="w-full text-2xl text-center rtl:text-right">
          <tbody>
            <tr class="border-b mt-4">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Apex Legends
              </th>
            </tr>
            <tr class="border-b">
              <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                Elden Ring
              </th>
            </tr>
          </tbody>
        </table>
      </div> -->

      </div>
    </div>
  </div>
</div>
